<!-- templates/signup.html -->
{% load staticfiles %}
 <link rel="stylesheet" href="{% static 'style.css' %}">
 <div class="logo">
		<img src="{% static '128px-Google_Ads_logo.svg.png' %}">
		<div class="signup">Sing Up Form</div>
	</div>


<div class="center">
	<div class="enter_label">Please enter Adwords account number</div>
	<form method="post">
 	 {% csrf_token %}
  	 
		<div class="input">
			<input type="text" name="account" placeholder="Adwords account" class="enter" 
			value="{{ account }}">

		</div>

		<div>
			<input type="submit" name="next" value="Next">
		</div>
		</form>

	</div>





