<!-- templates/signup.html -->
{% load staticfiles %}
 <link rel="stylesheet" href="{% static 'style.css' %}">
	<div class="center">
		<div class="success">

			<h2>SignUp result: <br><br> {{ link_result }} </h2>
			<a href="../../"> Add another account </a>



		</div>


	</div>
