body {
    margin: 0;
    padding: 0;
    background-color: #fcfcff;
}
.center {
    text-align: center;
    margin-top: 7%;
}
:focus {
    outline: none;
}
.enter {
    width: 584px;
    background: #fff;
    padding: 0 8px 0 16px;
    display: flex;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    font: 16px arial,sans-serif;
    line-height: 34px;
}
.enter:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
input[type="submit"] {
    height: 36px;
    line-height: 27px; 
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
input[type="submit"]:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
.logo {
    margin: 3% 10%;
    text-align: right;
}
.logo img {
    width: 86px;
}
.logo .signup {
    font-size: 13px;
    font-family: arial;
    color: #787878;
    font-weight: 700;
}
.enter_label {
    padding-bottom: 10px;
    font-size: 16px;
    font-family: arial;
    color: #787878;
    font-weight: 700;
}
.success {
    padding-top: 100px;
    font-size: 18px;
    font-family: arial;
    color: #787878;
    font-weight: 700;
}